.sharePanel {
    display : flex;
    justify-content: center;
    align-items: center;
}

.shareBtn {
    font-size : 18px;
    background-color: #29AB87;
    width : 100px;
    border-radius: 10px;
    margin-top: 20px;
}

.options {
    margin-left: 10px;
    display: flex;
    margin-top: 10px;

}

.option {
    margin-left: 15px;
    border-radius: 5px;

}
.image {
    height : 40px;
    width : 40px;
}

@media screen and (max-width:300px) {
    .shareBtn {
        font-size : 12px;
        background-color: #29AB87;
        width : 100px;
        border-radius: 10px;
        margin-top: 20px;
    }
    
    .options {
        margin-left: 10px;
        display: flex;
        margin-top: 10px;
    
    }
    
    .option {
        margin-left: 15px;
        border-radius: 5px;
    
    }
    .image {
        height : 25px;
        width : 25px;
    }
        
    
}
